<!doctype html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>

<body>
    <div class="banner">
        <% include ../partials/resume %>
        <div class="formholder">
            <div class="row">
                <div class="col-xs-12 col-md-5 contact">
                    <img src="images/contact.svg" alt="About" class="img-fluid about-img">
                </div>
                <p class="bg-tranparent home"><a href="/">Go to Homepage</a></p>
                <div class= " col-xm-12 col-md-7 px-5 py-3 ">
                 <form action="" class="form">
                    <h3>Get in touch</h3>
                    <p id="text">If you want to get in touch, talk to me about a project or project collaboration,<br> please fill the form below or send an email to daphniechrist@gmail.com.</p>
                    <p class="space"></p>
                    <p>Name<br>
                    <input type="text" name="" id="" placeholder="Name"></p>
                    <p>Email<br>
                    <input type="email" name="" id="" placeholder="example@email.com" required></p>
                    <p>Submit your message<br>
                    <input type="text" name="" id="dialouge" placeholder="Type Something....."> </p>                    
                 <input type="submit" name="" value="SUBMIT">
                 </form>
                </div>
            </div>
        </div>
    </div>
    <%# <div class="contact">
        <div class="row no-gutter">
            <div class="col-xs-12 col-md-6 light">
                <span class="brand">
                    <i class="fas fa-phone    "> </i> +2348093874221
                </span>
                <span class="brand">
                    <i class="fab fa-instagram    "></i><a href="">zaai-el</a>
                </span>
                <span class="brand">
                    <i class="fas fa-facebook-square    "></i> Her Highness
                </span>
                <span class="brand">
                    <i class="fab fa-github-square    "></i><a href="https://github.com/daphnie-el">Daphnie-el</a>
                </span>

            </div>
            <div class="col-xs-12 col-md-6 black ">
                <img src="images/contact.svg" alt="About" class="img-fluid about-img">
            </div>
        </div>
    </div> %>

</body>

</html>