<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
    
  </head>
  <body>
    <div class="banner">
      <div class="resume">
        <h1>DAPHNIE OZIOMA</h1>
        <p class="">MICROBIOLOGIST || FRONTEND DEV || PROJECT MANAGER</p>
      </div>
      <div class="landing">
        <nav class="navbar sticky-top bg-transparent">
          <h3 class="">Zai</h3>
          <a class="nav-link active" href="#"> Home</a>
          <a class="nav-link" href="#about">About</a>
          <a class="nav-link" href="#"> Contact</a>
        </nav>
        
      </div>
    </div>

    <div class="about" id="about">
    <div class="row no-gutter">
      <div class="col-xs-12 col-md-6 black">
        
          <h3>About <br> Me</h3>
      <img src="" alt="daphnie's-photo" class="pic" width="400px">
      </div>
      <div class="col-md-6 col-md-6 bg-">
        <div class="light">
        <h3>lorem ispum asgajs</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempore asperiores totam sequi inventore deserunt rerum soluta perspiciatis, illum obcaecati, labore repellendus vel dolor illo ratione id mollitia, voluptatibus ipsa.</p>
        <h3>sand gkhm ofdl v mklgproej</h3>
        <p class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet dolorem ut totam similique quod quae qui eveniet. <br>exercitationem, quos culpa. Saepe at dolorum voluptas perspiciatis fuga tenetur iure necessitatibus reiciendis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br> Fugit provident quos architecto. Vel esse officia adipisci eum in voluptas qui velit, natus animi, voluptates pariatur, ullam et vero facilis doloribus.</p>

        </div>
      </div>
    </div>
    </div> 
  </body>
</html>
