<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
    
  </head>
  <body>
    <div class="banner">
      <% include ../partials/resume %>
      <div class="landing">
        <nav class="nav sticky-top">
          <a href="index.ejs" class="nav-link active brand">Zai</a>
          <a class="nav-link " href="#about"> About</a>
          <a class="nav-link" href="#contact">Work</a>
          <a class="nav-link" href="contact"> Contact</a>
        </nav>
        
      </div>
    </div>

    <div class="about" id="about">
    <div class="row no-gutter">
      <div class="col-xs-12 col-md-6 black">   
          <img src="images/about.svg" alt="About" class="img-fluid about-img">
      </div>
      <img src="images/ozi.jpg" alt="daphnie's-photo" class="pic" width="100px">
      <div class="col-md-6 col-md-6 bg-white px-5 pt-3">
        <div class="light">
          <h3>I am a Frontend developer and Microbiologist from Nigeria living in Lagos.</h3>
          <p> I primarily use JavScript, CSS and HTMl, frameworks I use include bootstrap, github and the express template. I have no difficulty in learning new frameworks. I am comfortable working remotely or in a shared office space provided there is constant power supply, comfortable seat and a pure source of drinkable water. </p>
          <p>Fresh out of the university in November 2018, after bagging a degree in microbiology I decided to thread a new career path and in Febuary 2019 got introduced to programming in 3 months (20 classes) bootcamp and I zealously followed up. You can chectout my first project <a href="https://github.com/daphnie-el/Moms2bee">here</a> </p>
          <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.<br>I'm quietly confident, naturally curious, and perpetually working on improving my dev skills.</p>
          <p class="space"></p>
          <h3>EDUCATION</h3>
          <p>University of Benin, Benin-city, Edo State.<br>
          2014 – 2018. Microbiology. BSc.</p>
          <p>The GirLEAD Project Bootcamp 3.0.<br>
          Feb. 2019 – May 2019. Frontend Web Development.</p>
          <p class="space"></p>        
          <h3>EXPERIENCE</h3>
          <p>June 2019 – Present.<br>
          Software developer • Intern • MOBicure Integrated Solutions, Benin-City, Nigeria.</p>
            
        </div>
      </div>
    </div>

    <div class="my-work" id="contact">
      <div class="row no-gutter">
        <div class="col-xs-12 col-md-6 yellow" style="background: #eec93b" >
        <h1>My Recent Works</h1>
        </div>
        <div class="col-xs-12 col-md-6 pt-5 darker" style="background: #1b1b1b" >
        <div class="work">
        <h3>Tapad</h3>
        <p>Clone of tapad.com</p>
         <p> <a href="https://github.com/daphnie-el/tapad">View Here</a></p> 
        </div>
        <p class="space"></p>
        <div class="work">
        <h3>Calculator</h3>
        <p>A functional Calculator built using HTML, CSS & JavScript.</p>
        <p> <a href="https://github.com/daphnie-el/calculator">View Here</a></p> 
        </div>
        <p class="space"></p>
        <div class="work">
        <h3>Moms2bee</h3>
        <p> A community for expecting and new moms.</p>
        <p><a href="https://github.com/daphnie-el/Moms2bee">View Here</a></p>
        </div>
      </div>
    </div>
    </div> 
  </body>
</html>
